<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD com.ferao.mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ferao.mapper.UserMapper">

    <!--查询所有-->
    <select id="findAll"  resultType="user">
      select * from usr ;
    </select>

    <!--queryUser-->
    <select id="queryUser" parameterType="map" resultType="user">
      select * from usr
      <where>
          <choose>
              <when test="id != null" >
                  id =#{id}
              </when>
              <when test="username != null" >
                  and username = #{username}
              </when>
              <otherwise>
                  and id= 4
              </otherwise>
          </choose>
      </where>
    </select>

    <update id="updateUsr" parameterType="map">
        update usr
        <set>
            <if test="username !=null">
                username =#{username}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--&lt;!&ndash;查询所有&ndash;&gt;-->
    <!--<select id="findAll"  resultType="com.ferao.pojo.User">-->
    <!--select * from usr ;-->
    <!--</select>-->

    <!--保存用户-->
    <insert id="saveUser" parameterType="com.ferao.pojo.User">
        insert into usr(id,username) values ( #{id},#{username});
    </insert>
    <!--更新用户-->
    <update id="updateUser" parameterType="com.ferao.pojo.User" >
        update usr set username=#{username} where  id =#{id}
    </update>
    <!--删除用户-->
    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete from usr where id = #{id}
    </delete>
    <!--根据id查询用户-->
    <select id="findById" parameterType="int" resultType="com.ferao.pojo.User">
        select * from usr where id=#{uid}
    </select>
    <!--根据名称模糊查询-->
    <select id="findByName" parameterType="string" resultType="com.ferao.pojo.User">
        select * from usr where username like #{name}
    </select>
    <!--获取用户的总记录条数-->
    <select id="findTotal" resultType="int">
        select count(id) from usr;
    </select>
    <!--根据queryVo的条件查询用户-->
    <select id="findUserByVo" parameterType="com.ferao.pojo.QueryVo" resultType="com.ferao.pojo.User">
        select * from usr where username like #{user.username}
    </select>

    <!--分页-->
    <select id="getUserByLimit" parameterType="map" resultType="user" >
        select * from usr limit #{startIndex},#{pageSize}
    </select>

    <!--分页2-->
    <select id="getUserByBounds"  resultType="user">
        select * from usr
    </select>
</mapper>
